.wrapper {
    margin: 50px auto;
    width: 70%;
}

.wrapper img {
    max-width: 320px;
    float: left;
    border: 3px solid #6F1D1B;
    border-radius: 10px;
    margin-right: 15px;
}


.wrapper-right {
    margin: 120px auto;
    margin-bottom: 80px;
    width: 70%;
}

.wrapper-right img {
    max-width: 320px;
    float: right;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-left: 15px;
}

.text-box h2 {
    font-size: 42px;
}
@media screen and (max-width: 768px) {
    .wrapper img{
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
    .wrapper-right img{
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
}
