/* La Estructura de la Pagina */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    color: white;
    background-image: linear-gradient(to bottom, #432818, #52301c, #62391f, #724223, #834b26, #8d542b, #985d2f, #a26734, #a8723c, #af7d44, #b5894d, #bb9457);
    font-family: "Josefin Sans";
    font-size: 16px;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
}

#p-inicial {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

/* Colores y Posición de Texto */

footer {
    background-color: #6F1D1B;
    color: white;
    text-align: center;
    border-top: 12px solid #ffe6a7;
    bottom: 0;
    width: 100%;
    min-height: 100px;
}

h1 {
    color: #FFE6A7;
    text-align: center;
    font-family: "Josefin Slab";
}

h2 {
    color: #FFE6A7;
    font-family: "Josefin Slab";
}

/* Los Links */
a:link {
    color: #FAA307;
}

a:visited {
    color: #DC2F02;
}

header {
    display: flex;
    background-color: #6F1D1B;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 12px solid #FFE6A7;
}

header a {
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 5rem;

}



nav a{
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    padding: 12px;
}

nav a:hover {
    background-color: #370617;
    color: #FFBA08;
}

header a.active {
    background-color: #FFE6A7;
    color: black;
}
.abrir-menu{
    display: none;

}
.nav{
    list-style-type: none;
}
.nav-link{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
.cerrar-menu{
   display: none;
}


@media screen and (max-width: 768px) {



  .nav{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    display: flex;
    align-items: end;
    background-color: #432818 ;
    padding: 1rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);

  }
  .nav.visible{
    opacity: 1;
    visibility: visible;
  }

  .nav-link{
    flex-direction: column;
    align-items: end;

  }

    .abrir-menu{
        display: block;
    }

    .cerrar-menu{
        display: block;
        margin: 5px 0px;
        font-size: 1.25rem;
    }
  .logo img{
    height: 75px;
  }
}
.header a.active {
    background-color: #FFE6A7;
    color: black;
}



.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.contenedor2{
    width: 80%;
    margin: auto;
    overflow: hidden;

}

button {
    margin-top: 10px;
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 25px;
    background-color: #FFE6A7;
    color:#370617;
    border: 2px solid #FFBA08;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px;
}

button:hover {
    background-color: #370617;
    color: #FFBA08 ;
}

.fa{
    font-size: 40px;
}

.img_titulo {
    text-align: center;
    color: white;
    border-bottom: 12px solid #ffe6a7;
}

.img_titulo img {
    display: block;
}

.img_donaciones img {
    width: 800px;
    max-width: 1250px;
    max-height: 300px;
    border: 5px solid #6F1D1B;
    border-radius: 10px;

}

#boxes {
    margin-top: 20px;
}

#boxes h2 {
    color: seagreen;
    font-size: 25px;
    text-align: left;
}

#boxes img {
    width: 225px;
}

#boxes p {
    font-size: 20px;
    padding: 0px, 20px;
}
.boxes {
    float: left;
    width: 30%;
    text-align: center;
}

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.youtube iframe {
    width: 50%;
    aspect-ratio: 16 / 9;
}

.texto_adopciones {
    margin-top: 30px;
    font-size: 25px;
}

.campaña{
    margin-bottom: 100px;
}
.Info1,
.Info2,
.Info3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.Info1{
    padding-bottom: 20px;
    border-bottom: #6F1D1B 5px solid;

}
.Info2{
    padding-bottom: 20px;
    border-bottom: #6F1D1B 5px solid;

}
.Info3{
    margin-bottom: 200px;
}

.Info1 img,
.Info2 img,
.Info3 img {
    flex: 100%;
    max-width: 350px;
    margin-right: 20px;
}

.Info1 p,
.Info2 p,
.Info3 p {
    flex: 1;
    font-size: 25px;
}

.contenedor_formulario1 {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

.formulario_grupo{
    min-width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.formulario_grupo2 {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 5px auto;
    margin-bottom: 25px;
}

.contenedor_formulario textarea {
    margin: 0 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contenedor_formulario input[type="submit"] {
    padding: 10px 20px;
    background-color: #FFE6A7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor_formulario input[type="submit"]:hover {
    background-color: #370617;
    color: #FFBA08;
}

.contenedor_formulario input, label{
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.contenedor_formulario label{
    padding: 5px 0;
}

@media screen and (max-width: 768px) {
    .perro{
        margin-bottom: 0;
    }

    .perro2{
        margin-bottom: 0;
    }

    .texto_adopciones button{
        margin-bottom: 0;
    }


    .google-map {
        width: 100%;
        background-size: cover;
    }

    .youtube iframe {
        width: 100%;
    }

    .contenedor_formulario{
        margin-bottom: 200px;
    }

    .texto_adopciones {
      margin-bottom: 200px;
    }

    .contenedor_formulario1 {
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        flex-wrap: wrap;
        padding: 0 35px;
    }

    .formulario_grupo{
        min-width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .formulario_grupo2 {
        margin-bottom: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin: 5px auto;
        margin-bottom: 25px;
        padding: 0 35px;
    }

    .Info1 p, .Info2 p, .Info3 p {
        font-size: 15px;
    }

    .Info3{
        margin-bottom: 200px;
    }

    .campaña h2 {
        text-align: center;
    }
}

